main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main header {
  width: 1040px;
  height: 24px;
  text-align: center;
  margin-bottom: 56px;
}

main span {
  font: var(--subtitle);
  color: var(--red);
}

main h2 {
  font: var(--title-md);
  color: var(--gray-600);
  padding-top: 8px;
}

section#one {
  height: 917px;

  padding: 72px 120px 144px;
  display: grid;
}

.grid {
  width: 1040px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 24px;
}

.grid img {
  width: 306px;
  height: 156px;
  border-radius: 12px;
  object-fit: cover;

  margin-bottom: 17px;
}

#grid-border {
  background: var(--gray-300);
  border-radius: 12px;
  padding: 12px 12px 17px;

  &:hover {
    border: 2px solid var(--gray-400);
  }
}

#text-sm h3 {
  font: var(--title-sm);
  color: var(--gray-600);
  margin-bottom: 8px;
  padding-inline: 4px;
}

#text-sm p {
  font: var(--text-sm);
  color: var(--gray-500);
  padding-inline: 4px;
}

#services {
  width: 100%;
  padding: 80px 120px 120px;
  background-color: var(--gray-100);

  display: grid;
  justify-content: center;
  align-items: center;
}

#services header {
  padding-bottom: 56px;
}

#grid-two {
  display: flex;
  justify-content: center;
  gap: 24px;
}

#card {
  padding: 20px;
  border: 2px solid var(--gray-500);
  border-radius: 12px;
}

#card h3 {
  margin-top: 20px;
  font: var(--title-sm);
  color: var(--gray-600);
}

#card p {
  margin-top: 8px;
  font: var(--text-sm);
  color: var(--gray-500);
}